section{
    display: flex;
    gap: 10px;
}
div{
    border: 2px solid salmon;
    background-color: cadetblue;
    flex: 1;
    /* flex-grow: 1; */
    /* flex-basis: 0; */
    font-size: 33px;
}
#div-2{
    order: 4;
    background-color: chartreuse;
}
#div-5{
    order: -3;
    background-color: rgb(189, 180, 176);
}